<script src="https://use.fontawesome.com/edc8a1b9d1.js"></script>
<link rel="stylesheet" href="/public/Assets/css/bootstrap-social.css">
<section id="contact" class="content-section text-center my-5">
        <div class="about">
            <div class="container py-5" id="contactForm"> 
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Bee Productive</h2>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo accumsan nibh non efficitur. Nunc mollis volutpat turpis sit amet efficitur. Nam aliquam augue dui, in aliquam diam tincidunt sit amet. Nulla lorem risus, sagittis eleifend elit sit amet, tincidunt condimentum arcu. Ut rutrum a felis eu commodo. Vestibulum feugiat aliquam rutrum. Ut eu elit in nisl ultrices sollicitudin. Integer sagittis ante est, quis sagittis magna condimentum sit amet. Vivamus sed justo nulla. Morbi non sagittis nisi. Cras rutrum pharetra libero eget tincidunt.</p>

                        <p>Nulla eget libero id turpis tristique congue non a dolor. Nam tristique tincidunt finibus. Mauris malesuada metus vitae molestie vulputate. Fusce viverra gravida urna, sit amet ultricies sapien tempor vitae. Quisque a nisi erat. Praesent ac velit vitae augue malesuada ornare ut eu purus. Nunc ullamcorper ullamcorper ante, quis ullamcorper massa congue a. Nunc sollicitudin tincidunt mauris et posuere. Integer et libero urna. Suspendisse sed pharetra ex.</p>
                        <img src="http://via.placeholder.com/200x200" class="mt-3"  alt="Placeholder for Headshots" />
                        <img src="http://via.placeholder.com/200x200" class="mx-5 mt-3" alt="Placeholder for Headshots" />
                        <img src="http://via.placeholder.com/200x200" class="mt-3" alt="Placeholder for Headshots" />
                    </div>
                </div>
            </div>
        </div>
      </section>