<div class="row">
    <div class="col">
    </div>
    <div class="col-4">
        <h1 class="text-center">{{signInWarning}}</h1>
        <a href="/home"><h1 class="text-center">Return Home</h1></a>
    </div>
    <div class="col">
    </div>
</div>